<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">

        </div>
        <div class="col-12 col-md-6 ">
            <p class="todo-subheading text-right"><span class="todo-form-create">My </span>Tasks</p>
            <ul class="list-litem-container" id="listLitemContainer" *ngFor="let m of todoList">
                <li class="todo-list-item d-flex flex-row" id="listItem{{m.id}}"> 
                    <input type="checkbox"  id="checkboxId{{m.id}}" class="check-box-el" on-click="changeStatus($event)" [checked]="m.isChecked"/>
                    <div class="d-flex flex-row justify-content-between label-container">
                        <label for="checkboxId{{m.id}}" id="labelId{{m.id}}" class="label-text">{{m.task}}</label>
                         <button class="delete-button" id="button{{m.id}}" on-click="deleteItem($event)">
                            <svg id="{{m.id}}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                              </svg>
                         </button>
                    </div>
                </li>


            </ul>
            <button class="btn btn-primary mt-3 ps-4 pe-4 ms-3" on-click="save()" >Save</button>

        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>